

.quotes li::before,
.quotes li::after {
    content:"";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/161359/quotes.png);
    background-size: contain;
    background-repeat: no-repeat;
}


/* Part 2 */

ul.link-list li {
    padding: 10px;
}


a[href$="pdf"]::after,
a[href$="xls"]::after,
a[href$="doc"]::after {
    content:"";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    vertical-align: middle;
    margin-left: 10px;
}

a[href$="pdf"]::after {
    background-image: url(https://img.icons8.com/officel/64/000000/pdf.png);
}

a[href$="xls"]::after {
    background-image: url(https://img.icons8.com/dusk/64/000000/ms-excel.png);
}

a[href$="doc"]::after {
    background-image: url(https://img.icons8.com/dusk/64/000000/ms-word.png);
}


/* Part 3 */

.sandwich {
    margin-bottom: 1rem;
    border: 1px solid;
}

.sandwich::before,
.sandwich::after {
    content:"";
    height: 10px;
    display: block;
}

.sandwich::before {
    background: linear-gradient(to left, yellow, lightskyblue);
}

.sandwich::after {
    background: linear-gradient(to right, yellow, lightskyblue);
}